.jumbotron {
  background: url(https://images.pexels.com/photos/220301/pexels-photo-220301.jpeg?auto=compress&cs=tinysrgb&h=350);
  background-repeat: no-repeat;
  background-size: cover;
}

#header  {
  color: white;
  font-size: 75px;
  text-shadow: 4px 4px #000000;
}

#output {
  font-size: 50px;
  text-shadow: 3px 3px #ADFF2F;
}
